body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #00923F;  
  /*  background-color: #5fffa4;  */	
  border-radius: 2px;
  /*max-width: 1024px;*/
}

.page-logo {	
	padding: 20px;
}	

.navbar a {
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

